body{
  text-align: center;
  max-width: 100%;
  font-family: Alkatra;
}
header{
    background-image: linear-gradient(to right,rgba(209, 52, 170, 0.2), rgb(52, 157, 141,0.2));
}
h1{
   font-family: Agbalumo;
    font-size: 50px;
    text-align: center;
    color: rgb(52, 68, 63);   
}
h1:hover{
  cursor: pointer;
  color: rgb(58, 141, 131);
}

footer{
    background-image: linear-gradient(to right,rgba(209, 52, 170, 0.2), rgb(52, 157, 141,0.2));
    padding: 30px;
   
}
.d-flex-text-center{
    margin: 40px ;
    padding:180px 30px;
    border-radius:0 0 30px 30px;
    background-color: rgba(188, 44, 152, 0.2) ;
    box-shadow:  10px 5px 5px rgb(201, 187, 199);
}
main{
  background-color: rgb(150, 173, 171);
}
.container {
  width: 90%;
  margin: 20px auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 5vw);
  grid-gap: 15px; 
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  border-radius: 10px;
  border: solid;
  border-color: rgb(204, 204, 216);
  box-shadow: 10px 5px 5px rgb(49, 59, 58);
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 7;

}
.item-4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1 ;
  grid-row-end: 4 ;

}
.item-3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 4 ;
  grid-row-end: 7 ;

}
.item-5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 14;
}
.item-2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 14;

}
a{
text-decoration: none;
  color: rgb(177, 124, 226);
}
@media screen and (max-width:300px){
 
  .d-flex-text-center{
    padding: 40px;
    font-size: 20px;
  }
}
@media screen and (max-width:600px){
  h1{
    font-size: 30px;
  }
}
 
.text-flicker{
  font-weight: 600;
  font-size: 50px;
  color: rgb(62, 33, 33);
  animation: flicker 3s infinite;
}
@keyframes flicker {
  from {opacity: 1;}
  to {opacity: 0.2;}
}
.col img{
  border-radius: 30px;
}
 
.text {
  box-shadow: 10px 5px 5px rgb(49, 59, 58);
}



